.select {
	--background: #ffbd38;
	--color: white;
}

ion-toolbar {
	--background: #3880ff;
}

ion-item {
	--background: transparent;
}

ion-title{
	text-align: center;
}

ion-button{
	--background: #ffbd38;
}